/* Колір проекту */
:root {
  --brand-color: #2196f3;
  --main-color: #757575;
  --second-color: #212121;
  --white-color: #ffffff;
}

/* Закальні стилі */
body {
  background-color: var(--white-color);
  color: var(--main-color);

  font-family: Roboto, sans-serif;
}

img {
  display: block;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Загальні сброси стилів */

h1,
p {
  margin: 0;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--second-color);
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Шапка сайту */

.header {
  border-bottom: 1px solid #ececec;
}

.header-flex {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 93px;

  color: #000000;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.logo-accent {
  color: var(--brand-color);
}

.nav-list {
  display: flex;

  color: var(--second-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: inherit;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--brand-color);
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.auth-list {
  display: flex;
  margin-left: auto;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.auth-item:not(:last-child) {
  margin-right: 50px;
}

.auth-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: inherit;
}

.auth-link:hover,
.auth-link:focus {
  color: var(--brand-color);
}

/* Основна секція */

.hero {
  background-color: #2f303a;

  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;
}

.hero-title {
  color: var(--white-color);

  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.hero-btn {
  display: inline-block;
  padding: 10px 32px;
  min-width: 216px;
  border-radius: 4px;
  border: transparent;

  background-color: var(--brand-color);
  color: var(--white-color);

  cursor: pointer;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

/* Секція переваги */

.benefits {
  padding: 94px 0;
}

.benefits-title {
  visibility: hidden;
}

.benefits-list {
  display: flex;
}

.benefits-item {
  min-width: 270px;
}

.benefits-item:not(:last-child) {
  margin-right: 30px;
}

.benefits-subtitle {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.benefits-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Секція робота */

.work {
  padding: 94px 0;
}

.work-list {
  display: flex;
  justify-content: space-between;
}

.work-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Секція наша команда */

.team {
  padding: 94px 0;
}

.team-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-item {
  padding-bottom: 30px;

  text-align: center;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.team-photo {
  margin-bottom: 30px;
}

.team-subtitle {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* Футер */

.footer {
  padding: 60px 0;

  background-color: #2f303a;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;

  color: var(--white-color);

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.footer-address {
  color: var(--white-color);

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-street {
  display: inline-block;
  margin-bottom: 9px;
}

.footer-link {
  display: block;

  color: #ffffff99;
}

.footer-link:hover,
.footer-link:focus {
  color: var(--brand-color);
}

.footer-mail {
  margin-bottom: 6px;
}

/* ------------------------------------------------------------ */
/* Портфоліо */
.project {
  padding: 94px 0;
}

.project-title {
  content-visibility: hidden;
}

.project-list-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}

.project-btn-item:not(:last-child) {
  margin-right: 8px;
}

.project-btn {
  background-color: #f5f4fa;
  color: var(--second-color);
  border-radius: 4px;
  border-color: transparent;

  padding: 6px 22px;

  cursor: pointer;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
}

.project-btn:hover,
.project-btn:focus {
  background-color: var(--brand-color);
  color: var(--white-color);
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project-list-item {
  flex-basis: calc((100% - 60px) / 3);
}

.project-link {
  display: inline-block;
}

.project-info {
  border: 1px solid #eeeeee;

  padding: 20px 24px;
}

.project-subtitle {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-text {
  color: var(--main-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
